#categoryGuide {
    font-size: 16.36px;
    margin-bottom: 65.35px;
}

.categoryBtn {
    border-radius: 3.98px;
    border: none;
    margin: 27.93px 15px 0 15px;
    width:168.92px;
    height: 61.3px;
    font-size: 16.36px;
    text-align: center;
    background-color: #0C8247;
    color: #FCCE39;
}